<p>{{ statementFact }}
    {% if slug %}
        {{ slug }}
    {% endif %}
</p>
<div>
    <a href="{{ path('text_name_url', {slug: slug}) }}">Рекомендоване задання відносних ссилок</a>
</div>
<div>
    <a href="{{ path('text_name_url', {slug: slug}) }}">Рекомендоване задання абсолютних ссилок</a>
</div>